<div class="bg-image" style="background-image: src('../back1.jpg'); height: 100vh; background-repeat:repeat-y;">
    <div class="row">
        <h1 style="width:100%;color: white; /* text-transform: unset; */ text-transform: uppercase; text-align: center; font-weight: 100; letter-spacing: 45px;">Artists</h1>
    </div>
    <hr style="position: relative; top: 16px; border: none; height: 3px; background: black; margin-bottom: 2px;" />
    <br />

    <div class="row">
        <div class="col">
            <img style="opacity: 0.5; width: 56%;" src="~/ArtistsImages/eduardokobra.jpg" />
            <h1 style="text-align: center; font-weight: 100; left: 56%; position: absolute; color: white; text-transform: uppercase; transform: translate3d(10px, -858%, 10px);">Eduardo Kobra</h1>
            <p style="letter-spacing: 1px; color: white; transform: translate(3px, -145%); text-align: justify; left: 57%; position: absolute; width: 41%;">With works on five continents, he currently holds the record for the largest graffiti mural in the world. Influenced by both modern and contemporary artists, Kobra’s artwork is highly research-driven. Many of his pieces are rooted in art history. He has painted several famous artworks and icons in his own signature style. The realism of his designs often makes his flat-surface paintings appear three-dimensional. Kobra’s main objective is to provide a space for the public to interact with his art.</p>
            <br />
            <hr style=" position: relative; top: 16px; border: none; height: 3px; background: black; margin-bottom: 2px;">
        </div>
    </div>

</div>
<div class="bg-image" style="background-image: src('../back1.jpg'); height: 100vh; background-repeat:repeat-y;">
    <div class="row">
        <div class="col">
            <img style="margin-left: 10px; left: 58%; position: absolute; opacity: 0.5; transform: translate3d(-28%, -77%, 10px);" src="~/ArtistsImages/angeloaccardi.jpg" />
            <h1 style="text-align: center; font-weight: 100; left: 3%; position: absolute; color: white; text-transform: uppercase; transform: translate(12%, -762%);">Angelo Accardi</h1>
            <p style="margin-right: 10px; letter-spacing: 1px; color: white; transform: translate(3px, -296px); text-align: justify; left: 6%; position: absolute; width: 29%;">Originally from a small town in the south of Italy Angelo Accardi moved to Napoli to study fine arts at the Art Academy of Naples. Shortly after, in the early 90s, he set up his personal studio close to his childhood home to embark on his pursuit of painting and sculpture. In the course of his artistic development, Accardi has been on a constant search for new sensations using mixed media to depict figures against differing social backgrounds.</p>
            <br />
            <hr style="position: relative; top: 208%; border: none; height: 3px; background: black; margin-bottom: 2px;">
        </div>
    </div>
</div>


<div class="bg-image" style="background-image: src('../back1.jpg'); height: 100vh; background-repeat:repeat-y;">
    <div class="row">
        <div class="col">
            <img style="opacity: 0.5; position: absolute; transform: translate3d(10px, -270%, 10px); }" src="~/ArtistsImages/metisatash.jpg" />
            <h1 style="position: absolute; transform: translate3d(10px, -1673%, 10px); left: 70%; text-align: center; font-weight: 100; /* left: 25%; */ /* position: absolute; */ color: white; text-transform: uppercase;">Metis Atash</h1>
            <p style="margin-right: 10px; letter-spacing: 1px; color: white; transform: translate(3px, -754px); text-align: justify; left: 63%; position: absolute; width: 34%;">Born and raised in Munich, Metis Atash is German by nationality but considers herself a global citizen. After successfully operating her own investor relations consultancy boutique, Metis channeled her devotion and passion for art, design, and fashion into the creation of one-of-a-kind sculptures. It was on the Indonesian island of Bali where she discovered the lifestyle, culture, and philosophies that most strongly resonated with her. Eventually, this became the inspiration and trajectory for both her artistic style and her purpose as an artist.</p>

            <br />
            <hr style="position: relative; top: -1014%; border: none; height: 3px; background: black; margin-bottom: 2px;">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img style="position: absolute; opacity: 0.5; left: 43%; transform: translate3d(10px, -113%, 10px);" src="~/ArtistsImages/jontyhurwitz.jpg" />
            <h1 style="text-align: center; font-weight: 100; left: 9%; position: absolute; color: white; text-transform: uppercase; transform: translate(-2%, -897%);">Jonthy Hurwitz</h1>
            <p style="margin-right: 10px; letter-spacing: 1px; color: white; transform: translate(3px, -374px); text-align: justify; left: 3%; position: absolute; width: 38%;">
                The international sensation Jonty Hurwitz is on the quest to join the worlds of science and art. Using never before seen technologies in the space of art, Hurwitz is creating unparalleled sculptures igniting the viewer’s imagination and making us question where does the science end and the art begins.

                Educated initially as an engineer in his home of Johannesburg, South Africa, Jonty Hurwitz went on to travel the world where he picked up yoga and wood carving, thus embarking on a new career. In 2008 Hurwitz began his formal career as a sculptor. Hurwitz combines algorithms with emotions provoked through art, as his goal is to remove the barrier between the two disciplines.
            </p>
            <br />
            <hr style="position: relative; top: -60%; border: none; height: 3px; background: black; margin-bottom: 2px;">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img style="position: absolute; opacity: 0.5; left: 1%; transform: translate3d(10px, 4%, 10px);" src="~/ArtistsImages/jonasleriche.jpg" />
            <h1 style="text-align: center; font-weight: 100; left: 68%; position: absolute; color: white; text-transform: uppercase; transform: translate(-2%, 57%);">Jonas Leriche</h1>
            <p style="margin-right: 10px; letter-spacing: 1px; color: white; transform: translate(3px, 95px); text-align: justify; left: 58%; position: absolute; width: 40%;">
                Born in Belgium in 1976, Leriche began his personal journey into Fine Art photography after years as a fashion photographer. This transformative decision allowed Leriche to delve into the rich layers of his profession. His work explores emotions, intentional or unconscious ideas and transforms them into gripping images. Leriche constructs his photographs layer by layer, with meticulous attention to detail. Taking the actual photo is but the final stage of a long, deliberate process, punctuated by flashes of inspiration. Leriche considers himself an art director first, and then a photographer.
            </p>
            <br />
            <hr style="position: relative; top: 985%; border: none; height: 3px; background: black; margin-bottom: 2px;">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img style="position: absolute; opacity: 0.5; left: 43%; transform: translate3d(10px, 162%, 10px);" src="~/ArtistsImages/doritlevinstein.jpg" />
            <h1 style="text-align: center; font-weight: 100; left: 9%; position: absolute; color: white; text-transform: uppercase; transform: translate(-2%, 1037%);">Dorit Levinstein</h1>
            <p style="margin-right: 10px; letter-spacing: 1px; color: white; transform: translate(3px, 353%); text-align: justify; left: 2%; position: absolute; width: 40%;">
                Dorit Levinstein’s work invites you to step into her universe of forms, figures, and colors. Her spare, elegant sculptures seem to giggle with delight as if tickled, and then stretch out with an exquisite elasticity to form their position in space. The sculptures derive their volume from a continuous virtuosic line alluding to human figures, animals, flowers, and objects.
            </p>
            <br />
            <hr style="position: relative; top: 1721%; border: none; height: 3px; background: black; margin-bottom: 2px;">
        </div>
    </div>

</div>









