<div class="bg-image" style="background-image: src('../back1.jpg'); height: 100vh; background-repeat:repeat-y;">
    <div>
        <h1 style="color: white; /* text-transform: unset; */ text-transform: uppercase; text-align: center; font-weight: 100; letter-spacing: 45px;">Galleries</h1>
    </div>
    <hr style="position: relative; top: 16px; border: none; height: 3px; background: black; margin-bottom: 2px;"/>
    <br />
    <div>
        <img style="opacity:0.5;position: absolute; transform: translate3d(42%, 14%, 10px);" src="~/art_50.jpg" />

        <p style="width: 29%; color: white; font-family: -webkit-pictograph; text-align: justify; font-size: 21px;">
            In numerous heARTshop galleries in North America, Europe, and the rest of the world, art enthusiasts and
            collectors can discover the multifaceted and exhilarating world of art. Each gallery has its own personality,
            with its atmosphere and exhibitions influenced by the respective gallery director. In this way, each heARTshop art gallery
            is a unique place full of inspiration where you can enjoy our artworks in a relaxed atmosphere. You will also find a
            wide variety of design objects created by celebrated names. Opening Receptions and
            rotating exhibitions offer an opportunity to get to know the artists in person, making every heARTshop gallery a must-visit
            location for unforgettable events.
        </p>
    </div>
    <hr style="position: relative; top: 2px; border: none; height: 3px; background: black; margin-bottom: 2px;"/>
    <br />
    <br />
    <h1 style="font-weight: 100; text-transform: uppercase; color: white; letter-spacing: 4px; text-align: center;">VISIT US IN A heARTshop GALLERY!</h1> 
</div>
<div class="bg-image" style="background-image: src('../back1.jpg'); height: 100vh; background-repeat:repeat-y;">

    <img style="opacity:0.5; width:100%;" src="~/gallery.jpg" />

        <p style="position: absolute; transform: translate3d(228px, 83px, 10px); font-size: 22px; text-transform: uppercase; color: white; text-align: justify;">New York City <br /> Hogward street 24/5 <br /> +445985645 <br /> NYCshop@heARTshop.com</p>
        <p style="position: absolute; transform: translate3d(730px, 83px, 10px); font-size: 22px; text-transform: uppercase; color: white; text-align: justify;">Skopje, Macedonia <br /> ul Makedonija <br /> +389222222 <br /> skopjeshop@heartshop.com</p>
    <img style="width: 35%; height: 35%; /* position: absolute; */ transform: translate3d(-105px, -10px, -29px);" src="~/loc.png" />
    
   <div style="border-left: 6px solid black; height: 32%; position: absolute; left: 80%; margin-left: -3px; top: 0; transform: translate3d(-558px, 574%, 10px); "></div>

</div>
