@{
    ViewData["Title"] = "ShopNow";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<html>
<head>
    <link rel="stylesheet" href="~/css/shopn.css" />
</head>
<body>
    <div class="bg-image" style="background-image: src('../back1.jpg'); height: 100vh;">
        <div style="background:transparent;">
            <img src="~/css/arrow.png" style="transform: translateY(-156px);" />
        </div>
        <video style="transform: translateY(-248px); filter: opacity(-26.5);" autoplay loop muted controls width="100%" height="auto" src="~/css/vi.mp4"></video>
    </div>
    <h1 style="font-size: 114px; text-transform: uppercase; color: white; transform:translateY(-591px); background: transparent; backdrop-filter: opacity(-84.5); font-weight: 200; text-align: center;">Become part of our family 
    and shop now</h1>
</body>
</html>
